<div class="color-theme-blue">

    <!--<div class="preloader"></div>-->

    <div class="main-wrap">

        <div class="row">
            <!-- <div class="col-xl-5 d-none d-xl-block p-0 vh-100 bg-image-cover bg-no-repeat" style="background-image: url(https://www.sig.prontvet.com/assets/images/capa2.jpeg);"></div> -->
            <div class="col-xl-12 vh-lg-100 align-items-center d-flex bg-white rounded-lg overflow-hidden">
                <div style="position: relative;" class="card shadow-none border-0 ml-auto mr-auto login-card ">
                    <div class="card-body rounded-0 text-left">
                        <h2 class="fw-700 display1-size display2-md-size mb-3">Entrar na conta</h2>
                        <form>
                            
                            <div class="form-group icon-input mb-3">
                                <i class="font-sm ti-email text-grey-500 pr-0"></i>
                                <input type="text" class="style2-input pl-5 form-control text-grey-900 font-xsss fw-600" placeholder="Login" #login>                        
                            </div>
                            <div class="form-group icon-input mb-1">
                                <input type="Password" class="style2-input pl-5 form-control text-grey-900 font-xss ls-3" placeholder="Senha"  #senha>
                                <i class="font-sm ti-lock text-grey-500 pr-0"></i>
                            </div>
                        </form>
                         
                        <div style="margin-top: 45px;" class="col-sm-12 p-0 text-left">
                            <div class="form-group mb-1"><a (click)="logar(login.value, senha.value)"  class="form-control text-center style2-input text-white fw-600 bg-dark border-0 p-0 ">Entrar</a></div>
                            <!-- <h6 class="text-grey-500 font-xsss fw-500 mt-0 mb-0 lh-32">Não tem conta <a href="#" class="fw-700 ml-1" data-toggle="modal" data-target="#Modalregister">Registrar</a></h6> -->
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    
</div>

