<div class="color-theme-blue mont-font">
    <div class="main-wrapper">
        <!-- main content -->
        <div class="main-content">

            <div class="middle-sidebar-bottom">
                <div class="middle-sidebar-left bg-white dark-bg-transparent mr-3 pr-0">
                     <div class="row">

                        <div class="col-lg-6 col-xl-4 col-md-6 chat-left scroll-bar border-right-light pl-4 pr-4">
                            <div class="mt-0 pl-3 pt-3">
                                <div class="search-form">
                                    <input type="text" class="form-control text-grey-500 mb-0 bg-greylight border-0" placeholder="Busque pelo endereço" [(ngModel)]="chaveFiltro">
                                    <!-- {{chaveFiltro}} -->
                                </div>
                            </div>
                            <!-- Rastreados -->
                            <div class="section full mt-2 mb-2 pl-3" style="max-height: 60vh;">
                                <ul class="list-group list-group-flush">
                                    <li *ngFor="let usuario of (usuarios | filtro:chaveFiltro) " class="bg-transparent list-group-item no-icon pl-0">
                                        <!-- <figure class="avatar float-left mb-0 mr-3">
                                            <img src="https://via.placeholder.com/60x60.png" alt="image" class="w45">
                                        </figure> -->
                                        <h3 class="fw-700 mb-0 mt-1">
                                            <a class="font-xss text-grey-900 text-dark d-block">{{usuario.rg}} <!-- - A caminho --> 
                                                <a [hidden]="!usuario.timeOut"><span class="font-xsssss fw-700 pl-3 pr-3 lh-15 text-uppercase rounded-lg ls-2 alert-warning d-inline-block text-warning mr-1 ml-1 posicao-cartao"> Conexão</span></a>
                                                <a [hidden]="!usuario.ultrapassouTempo" ><span  class="font-xsssss fw-700 pl-3 pr-3 lh-15 text-uppercase rounded-lg ls-2 alert-danger d-inline-block text-danger mr-1 ml-1 posicao-cartao"> Tempo </span></a>
                                                <a [hidden]="usuario.onRoute" ><span  class="font-xsssss fw-700 pl-3 pr-3 lh-15 text-uppercase rounded-lg ls-2 alert-danger d-inline-block text-danger mr-1 ml-1 posicao-cartao"> Rota </span></a>
                                                <a [hidden]="!usuario.minimizou"><span class="font-xsssss fw-700 pl-3 pr-3 lh-15 text-uppercase rounded-lg ls-2 alert-warning d-inline-block text-warning mr-1 ml-1 posicao-cartao"> Minimizado</span></a>
                                            </a>
                                        </h3> 
                                        <span class="d-block">
                                            {{usuario.destino}}
                                            <span [hidden]="usuario.status != 1"> - a caminho </span>
                                            <span [hidden]="usuario.status != 2"> - entregando </span>
                                            <span [hidden]="usuario.status != 3"> - saindo </span>
                                        </span>
                                        <!-- <span class="d-block">Fase - chegada</span> -->
                                        <span [hidden]="usuario.status != 1" class="badge mt-0 text-grey-500 badge-pill">{{usuario.tempo_chegada.substring(0,5)}} </span>
                                        <span [hidden]="usuario.status != 2" class="badge mt-0 text-grey-500 badge-pill">{{usuario.tempo_permanencia.substring(0,5)}} </span>
                                        <span [hidden]="usuario.status != 3" class="badge mt-0 text-grey-500 badge-pill">{{usuario.tempo_saida.substring(0,5)}} </span>
                                        <div class="snippet float-right" data-title=".dot-typing"><div class="stage"><div (click)="finalizarTracking(usuario.id)" style="position: relative;width: 6px; height: 6px; font-size: 12px; color: black;top: -16px;">X</div></div></div>
                                    </li>
                                </ul>
                            </div>


                        </div>

                        <div class="col-lg-6 col-xl-8 col-md-6 pl-0 d-none d-lg-block d-md-block" >
                            <app-solicitacoes></app-solicitacoes>

                        </div>
                        

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>