<div class="color-theme-blue mont-font">
    <div class="main-wrapper">
        <!-- main content -->
        <div class="main-content">

            <div class="middle-sidebar-bottom">
                <div class="middle-sidebar-left bg-white dark-bg-transparent mr-3 pr-0">
                     <div class="row">

                        <div>
                            <div class="chat-bottom dark-bg p-3 shadow-xss" style="width: 48.5%;">
                                <div ><input class="input-painel" type="text" placeholder="Endereço" ></div>                                      
                                <button class="botao-top" style="margin: 0 1.8%" >Adicionar</button>
                                <button class="botao-top" >Sair</button>
                            </div> 
    
                            <div class="chat-bottom dark-bg p-3 shadow-xss scroll-bar" style="width: 48.5% !important; left: 49% !important; height: 124px; overflow-y: scroll; overflow-x: hidden;" >  
                                <ul class="list-group list-group-flush">
                                    
                                </ul>
                            </div>

                        </div>
                        

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>