<div class="color-theme-blue mont-font">
    <div class="main-wrapper">
        <!-- main content -->
        <div class="main-content">

            <div class="middle-sidebar-bottom">
                <div class="middle-sidebar-left bg-white dark-bg-transparent mr-3 pr-0">
                     <div class="row">

                        <div>
                            <app-solicitacoes></app-solicitacoes>

                        </div>
                        

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>